p{
    padding: 5px;
}
.container{
    margin: 5px;
    border: 1px solid;
}
.border-staff{
    border-color: blue;
}

.border-manager{
    border-color: green;
}

.border-admin{
    border-color: red;
}


