<p>id: {{obj.id}}</p>
<p>Name: {{obj.name}}</p>
<p>Surname: {{obj.surname}}</p>
<p>Age: {{obj.age}}</p>
<p>Date of Birth: {{obj.dateOfBirth}}</p>
<p><b>Address:</b> </p>
<p>City: {{obj.address.city}}</p>
<p>Street: {{obj.address.street}}</p>
<p>Postalcode: {{obj.address.postalCode}}</p>
<p>Role: {{obj.role}}</p>
<p>Username: {{obj.username}}</p>
<img src="{{obj.profilePhotoUrl}}" alt="" [style.width]="'300px'">
<p>Gender: {{obj.gender}}</p>
<p><b>Company: {{obj.companies[0].name}}</b></p>
<p>Description: {{obj.companies[0].description}}</p>
<p><b>Company: {{obj.companies[1].name}} </b></p>
<p>Description: {{obj.companies[1].description}}</p>